[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "afiliaciones"

[packages]
flask = "*"
flask-sqlalchemy = "*"
psycopg2-binary = "*"
marshmallow = "*"
python-dotenv = "*"
werkzeug = "*"
markupsafe = "*"
redis = "*"
rq = "*"

[dev-packages]

[requires]
python_version = "3.11"
